@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  color: white;
  font-family: "Vazirmatn", sans-serif;
  transition: all 0.2s;
  box-sizing: border-box;
  border-radius: 25px;
}

body {
  background-color: #15202b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.open {
  display: block !important;
  opacity: 1 !important;
}

.modal {
  transition: all 0.5s linear;
  opacity: 0;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  height: 80%;
  background-color: rgb(23, 101, 219);
  padding: 3rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 5;
  border-radius: 0;
}

.iconify {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

nav {
  margin: 0.5rem 0.5rem 0 0;
}

main {
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 35rem;
  padding: 0.5rem;
  background-color: #142533;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 5rem;
  transition: all 1s;
}

.transform {
  transform: translateY(0px) !important;
}

.main-form {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  height: 35rem;
}
.main-form label,
.main-form select,
.main-form option,
.main-form input,
.main-form div {
  background-color: #142533;
}
.main-form label,
.main-form div {
  margin: 1.4rem;
  padding: 0.5rem;
}
.main-form select,
.main-form input {
  font-size: 1.2rem;
  margin: 2 0.5rem 2 0.5rem;
}
.main-form select {
  padding: 0.2rem;
}
.main-form p.letters-counter {
  color: green;
  font-size: 3rem;
}

.answer-form {
  transform: translateY(-20px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  height: 35rem;
}
.answer-form .back {
  text-align: left;
  padding: 0;
  margin: 0.5rem 0rem 0rem 0.7rem;
  height: 1rem;
  display: inline;
  left: 0px;
  top: 0px;
  position: absolute;
}
.answer-form label {
  margin: 0.5rem;
  padding: 0.5rem;
}
.answer-form div {
  margin: 1rem;
}
.answer-form .deleted {
  padding-top: 3rem;
}

.letter-box-wrong {
  background: #ff3c00;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  display: inline-block;
}

.letter-box-correct {
  background: #005a0f;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  display: inline-block;
}

.letters-counter-container {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  background-color: #1a1919;
  margin-top: auto;
  opacity: 60%;
}

a.guess-button {
  cursor: pointer;
  font-weight: 700;
  font-family: vazirmatn, "sans-serif";
  transition: all 0.2s;
  padding: 10px 10px;
  border-radius: 100px;
  background: #0094ff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
}
a.guess-button:hover {
  background: #004b81;
}
a.guess-button > svg {
  width: 34px;
  margin-left: 8px;
  transition: transform 0.3s ease-in-out;
}
a.guess-button:hover svg {
  transform: translateX(5px);
}
a.guess-button :active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

input.word-input {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: whitesmoke;
  background-color: #00375f;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input.word-input::-moz-placeholder {
  color: rgba(114, 250, 198, 0.356);
  font-size: 1.5rem;
}
input.word-input:-ms-input-placeholder {
  color: rgba(114, 250, 198, 0.356);
  font-size: 1.5rem;
}
input.word-input::placeholder {
  color: rgba(114, 250, 198, 0.356);
  font-size: 1.5rem;
}

.info-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin-top: auto;
}
.info-container a {
  display: flex;
  justify-content: space-around;
  background-color: #242e3d;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  width: 50%;
}
.info-container a img {
  margin: 0 0.5rem 0 0.5rem;
}

.developer a {
  color: violet;
}/*# sourceMappingURL=main.css.map */